<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="3;url={{ url_for('login') }}">
    <title>Home</title>
    <link rel="stylesheet" href ="{{url_for('static',filename='home.css')}}">
    <link rel="icon" type="image/x-icon" href ="{{url_for('static',filename='home.ico')}}">
    <br>
</head>
<body>
    <h1>Finbot</h1>
    <div class="loading-text">Loading</div>
    <!-- <h2>Invest</h2> -->
</body>
</html>