<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/login_styles.css">
</head>
<body>
    <div class="welcome-text">Welcome to <span>FinBot</span></div>
    <div class="login-container">
        <h2>Login</h2>
        <input type="text" placeholder="Username" required>
        <input type="password" placeholder="Password" required>
        <button onclick="loginUser()">Login</button>
        <label class="checkbox">
            <input type="checkbox"> Remember Password
        </label>
        <div class="footer-links">
            Don't have an account? <a href="signup.html">Sign up</a>
        </div>
    </div>
</body>
</html>